<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
<section>

<!--  Alerts and Dismissible bars-->

    <div class="alert alert-success alert-dismissible fade show mb-0" role="alert" th:if="${signupsuccess}">
        <center><svg class="bi flex-shrink-0 me-2" width="24" height="24"><use xlink:href="#check-circle-fill"/></svg>
            <strong>Registered Successfully!!!! Please Login And Enjoy Our services :) </strong></center>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert" th:if="${loginfailed}">
        <center><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
            <strong>Failed to Login!! Email or Password incorrect :(</strong></center>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="alert alert-success alert-dismissible fade show mb-0" role="alert" th:if="${logoutsuccess}">
        <center><svg class="bi flex-shrink-0 me-2" width="24" height="24"><use xlink:href="#check-circle-fill"/></svg>
            <strong>Logged out Successfully :) </strong></center>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="alert alert-success alert-dismissible fade show mb-0" role="alert" th:if="${loginsuccess}">
        <center><svg class="bi flex-shrink-0 me-2" width="24" height="24"><use xlink:href="#check-circle-fill"/></svg>
            <strong>Welcome <strong th:text="${session.user}"></strong> </strong> <strong> Enjoy Our services :) </strong></center>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>


<!-- end  Alerts and Dismissible bars  -->


<!--    Start Of carousal -->

    <div
            id="carouselExampleCaptions"
            class="carousel slide carousel-fade"
            data-bs-ride="carousel"
    >
        <ol class="carousel-indicators">
            <li
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide-to="0"
                    class="active"
            ></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img
                        th:src="@{img/test.jpg}"
                        class="d-block w-100"
                        alt="..."
                />
                <div class="carousel-caption d-none d-md-block">
                    <!--        <h5>First slide label</h5>-->
                    <!--        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
                    <!--        <button class="btn btn-danger">first</button>-->
                    <!--        <button class="btn btn-primary">second</button>-->
                    <!--        <button class="btn btn-success">third</button>-->
                </div>
            </div>
            <div class="carousel-item">
                <img
                        th:src="@{img/test.jpg}"
                        class="d-block w-100"
                        alt="..."
                />
                <div class="carousel-caption d-none d-md-block">
                    <!--        <h5>Second slide label</h5>-->
                    <!--        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>-->
                    <!--        <button class="btn btn-danger">first</button>-->
                    <!--        <button class="btn btn-primary">second</button>-->
                    <!--        <button class="btn btn-success">third</button>-->
                </div>
            </div>
            <div class="carousel-item">
                <img
                        th:src="@{img/test.jpg}"
                        class="d-block w-100"
                        alt="..."
                />
                <div class="carousel-caption d-none d-md-block">
                    <!--        <h5>Third slide label</h5>-->
                    <!--        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>-->
                    <!--        <button class="btn btn-danger">first</button>-->
                    <!--        <button class="btn btn-primary">second</button>-->
                    <!--        <button class="btn btn-success">third</button>-->
                </div>
            </div>
        </div>
        <a
                class="carousel-control-prev"
                href="#carouselExampleCaptions"
                role="button"
                data-bs-slide="prev"
        >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a
                class="carousel-control-next"
                href="#carouselExampleCaptions"
                role="button"
                data-bs-slide="next"
        >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>

<!--    End of carousal-->

    <hr class="featurette-divider"/>


    <div class="container-lg">
        <div class="card text-center shadow-lg bg-body rounded">
            <div class="card-header">
                <center><h1>Today's Deals</h1></center>
            </div>
            <div class="card-body">
                <div class="card mt-3 mb-3">
                    <div class="card-body shadow bg-body rounded">
                        <ul class="nav nav-pills nav-fill">
                            <li class="nav-item active"><h5><a style="color:#212529" class="nav-link" href="/">All Deals</a></h5></li>
                            {% for estore in estore %}
                            <li class="nav-item"><h5><a style="color:#212529" class="nav-link" href="/?estore_id={{estore.id}}">
                                {{estore.name}}</a></h5></li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>
                <div class="mx-auto">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        {% for product in product|slice:":6"%}
                        <div class="col mx-auto">
                            <!--            style="width: 23rem; height:42rem;"-->
                            <div class="card border-dark mb-4 shadow bg-body rounded">
                                <div class="card-header"><h5>{{product.name}}</h5></div>
                                <div class="card-body ">
                                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img class="img-fluid" src="{{product.img_1.url}}" alt="Sample"
                                                >
                                            </div>
                                            <div class="carousel-item">
                                                <img class="img-fluid" src="{{product.img_2.url}}"
                                                >
                                            </div>
                                        </div>
                                    </div>
                                    <center>
                                        <h6 class="card-title mt-1"><img src="{% static 'ss.png' %}" style="width:15px;height:15px;">
                                            {{product.rating}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                            Status : {% if product.status %}
                                            <img src="{% static 'ge.png' %}" style="width:15px;height:15px;">
                                            {% else %}
                                            <img src="{% static 're.jpg' %}" style="width:15px;height:15px;">
                                            {% endif %}
                                        </h6>

                                        <h5>Price : (<strike>{{product.mrp}}</strike>) Rs.{{product.selling_price}}</h5></center>

                                    <center>Category : {{product.category}}<br>
                                        Estore   : {{product.estore}}<br>
                                        Date : {{product.start_time | date:"F d Y" }}<br>Offer Timings :   {{product.start_time | time:"h:i A"}}
                                        to {{ product.End_time | time:"h:i A" }}
                                    </center>

                                    <center class="mt-2"><a
                                            href="{{product.product_url}}"
                                            class="btn btn-dark"
                                            rel="noopener noreferrer"
                                            target="_blank"
                                    >Buy now</a
                                    ></center>

                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Posted On: {{product.uploaded_time}}</small>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                </div></div>

            <div class="card-footer text-muted">
                <h5><a style="color:#212529" class="nav-link" href="/DialyDeals">more deals.....</a></h5>
            </div>
        </div>
    </div>

</section>
</body>
</html>