<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
</head>
<body>
<section>


    <div class="container-xl nav-item dropdown mt-3 mb-3">
        <a class="nav-link " href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Filter Category
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            {% for category in category %}
            <li><a class="dropdown-item" href="?category={{category.id}}">{{category.name}}</a></li>
            {% endfor %}
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/DialyDeals/">All Category</a></li>
        </ul>
    </div>


    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for product in product %}

            <div class="container-fluid col">
                <!--            style="width: 23rem; height:42rem;"-->
                <div class="card border-dark mb-3 shadow bg-body rounded">
                    <div class="card-header"><h5>{{product.name}}</h5></div>
                    <div class="card-body">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <center>
                                        <img class="img-fluid" src="{{product.img_1.url}}" alt="Sample"
                                        ></center>
                                </div>
                                <div class="carousel-item ">
                                    <center>
                                        <img class="img-fluid" src="{{product.img_2.url}}"
                                        ></center>
                                </div>
                            </div>
                        </div>
                        <center>
                            <h6 class="card-title mt-1"><img src="{% static 'ss.png' %}" style="width:15px;height:15px;">
                                {{product.rating}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                Status : {% if product.status %}
                                <img src="{% static 'ge.png' %}" style="width:15px;height:15px;">
                                {% else %}
                                <img src="{% static 're.jpg' %}" style="width:15px;height:15px;">
                                {% endif %}
                            </h6>

                            <h5>Price : (<strike>{{product.mrp}}</strike>) Rs.{{product.selling_price}}</h5></center>

                        <center>Category : {{product.category}}<br>
                            Estore   : {{product.estore}}<br>
                            Date : {{product.start_time | date:"F d Y" }}<br>Offer Timings :   {{product.start_time | time:"h:i A"}}
                            to {{ product.End_time | time:"h:i A" }}
                        </center>
                        <center class="mt-2"><a
                                href="{{product.product_url}}"
                                class="btn btn-dark"
                                rel="noopener noreferrer"
                                target="_blank"
                        >Buy now</a
                        ></center>

                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Posted On: {{product.uploaded_time}}</small>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>


</section>
</body>
</html>