<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
</head>
<body>
<section>
    <center><strong style="font-size:30px;text-shadow: 1px 1px 2px black;" th:text="${store.storeName}"></strong></center>
    <hr class="featurette-divider"/>
    <div class="py-3 text-center">
        <img class="d-block mx-auto mb-4" th:src="@{'/img/'+${store.storeImage}}" alt="" width="120" height="120">
    </div>
    <center><svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-wallet2" viewBox="0 0 16 16">
        <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
    </svg>&nbsp;<strong class="mt-8" style="font-size:20px;">Wallet Balance :</strong></center>
    <hr class="featurette-divider"/>
    <center>
        <div class="container mt-3">
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                        Add Product
                    </button>

                </div>
                <div class="col">

                    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                        Add Blog
                    </button>

                </div>
                <div class="col">
                    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                        Participate in a Event
                    </button>
                </div>
            </div>
        </div>
    </center>

    <hr class="featurette-divider"/>

    <div class="container">


        <div class="card text-center">
            <div class="card-header">
                <center>
                    <ul class="nav nav-tabs card-header-tabs">

                        <li class="nav-item mb-2 col-lg-6">
                            <a class="btn btn-outline-dark" data-bs-toggle="collapse"  href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Posted Products
                            </a>
                        </li>

                        <li class="nav-item mb-2 col-lg-6">
                            <a class="btn btn-outline-dark" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Posted Blogs
                            </a>
                        </li>

                    </ul>
                </center>

            </div>
            <div class="card-body">
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">

                    </div>
                </div>
                <div class="collapse" id="collapseExample2">
                    <div class="card card-body">
                        Blogs
                    </div>
                </div>
            </div>
        </div>



    </div>
    <!-- Modal 1-->
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                            <div
                                    class="col-lg-5 mx-auto border rounded shadow-lg p-3 mb-5 bg-white rounded pt-4 pb-4"
                            >
                                <h3 align="center">Add Product</h3>
                                <form class="row g-3" th:action="@{/store/addProducts}" method="post" th:object="${product}" enctype="multipart/form-data">

                                    <div class="form-group mt-3">
                                        <label>Product Name</label>
                                        <input
                                                required
                                                type="text"
                                                name="productTitle"
                                                value=""
                                                class="form-control mt-1"
                                                placeholder="Enter Your Name"
                                                aria-describedby="helpId"
                                        />
                                        <div class="valid-feedback"></div>
                                        <div class="invalid-feedback">Please fill out this field.</div>
                                    </div>


                                    <div class="form-group mt-3">
                                        <label for="exampleFormControlTextarea1">Description</label>
                                        <textarea
                                                class="form-control mt-1"
                                                id="exampleFormControlTextarea1"
                                                rows="3"
                                                name="productDescription"
                                        ></textarea>
                                    </div>

                                    <div class="form-group mt-3">
                                        <label>Product Cost</label>
                                        <input
                                                required
                                                type="number"
                                                name="productCost"
                                                class="form-control mt-1"
                                                placeholder="0123456789"
                                                aria-describedby="helpId"
                                        />
                                        <div class="valid-feedback"></div>
                                        <div class="invalid-feedback">Please fill out this field.</div>
                                    </div>
                                    <div class="">
                                        <label for="formFileMultiple1" class="form-label">Product Image-1</label>
                                        <input class="form-control" type="file" id="formFileMultiple1" name="productimage1">
                                    </div>

                                    <div class="">
                                        <label for="formFileMultiple2" class="form-label">Product Image-1</label>
                                        <input class="form-control" type="file" id="formFileMultiple2" name="productimage2">
                                    </div>

                                    <div class="form-group mt-3">
                                        <label>Video Url(YouTube)</label>
                                        <input
                                                required
                                                type="text"
                                                name="productVideoUrl"
                                                value=""
                                                class="form-control mt-1"
                                                placeholder="Enter Your Name"
                                                aria-describedby="helpId"
                                        />
                                        <div class="valid-feedback"></div>
                                        <div class="invalid-feedback">Please fill out this field.</div>
                                    </div>

                                    <div class="form-group mt-3">
                                        <button type="submit" name="submit" class="btn btn-dark">
                                            Submit
                                        </button>
                                    </div>
                                </form>
                            </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-success">Save changes</button>
                </div>
            </div>
        </div>
    </div>






    <!-- Modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">


                    <div
                            class="col-lg-5 mx-auto border rounded shadow-lg p-3 mb-5 bg-white rounded pt-4 pb-4"
                    >
                        <h3 align="center">Add Product</h3>
                        <form class="row g-3" th:action="@{/store/addBlog}" method="post" th:object="${blog}" enctype="multipart/form-data">

                            <div class="form-group mt-3">
                                <label>Blog Title</label>
                                <input
                                        required
                                        type="text"
                                        name="blogTitle"
                                        value=""
                                        class="form-control mt-1"
                                        placeholder="Enter Your Name"
                                        aria-describedby="helpId"
                                />
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>

                            <div class="form-group mt-3">
                                <label for="exampleFormControlTextarea11">Description</label>
                                <textarea
                                        class="form-control mt-1"
                                        id="exampleFormControlTextarea11"
                                        rows="3"
                                        name="blogDescription"
                                ></textarea>
                            </div>
                            <div class="">
                                <label for="formFileMultiple12" class="form-label">Product Image-1</label>
                                <input class="form-control" type="file" id="formFileMultiple12" name="blogimage">
                            </div>

                            <div class="form-group mt-3">
                                <label>Video Url(YouTube)</label>
                                <input
                                        required
                                        type="text"
                                        name="blogVideo"
                                        value=""
                                        class="form-control mt-1"
                                        placeholder="Enter Your Name"
                                        aria-describedby="helpId"
                                />
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>

                            <div class="form-group mt-3">
                                <button type="submit" name="submit" class="btn btn-dark">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-success">Save changes</button>
                </div>
            </div>
        </div>
    </div>




    <!-- Modal -->
    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel3">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...3
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-success">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>